header{
	background: #B40404;
	height: 150px;
	width: 900px;
	text-align: left;
	font-size: 3.4em;
	vertical-align: middle;
	line-height: 150px;
}

.link{
	background: #2E2EFE;	
	float: left;
	height: 75px;
	width: 50px;
	text-align: center;
	color: #fff;
	font-size: 1.2em;
	vertical-align: middle;
	line-height: 75px;
}

#endoflink{
	width: 600px;
	margin-bottom: 30px;
}

.title{
	clear: both;
	font-size: 3.0em;
	margin: 30px;
}

#paragraphs {
	width: 600px;
	float: left;
}

#paragraphs, #box {
	display: inline-block;
}

#box {
	width: 160px;
	height: 260px;
	border: 2px solid #000;
	font-size: 1.0em;
	margin-left: 60px;
}

.boxtitle {
	font-size: 1.5em;
}

ul.a {
	list-style-type: circle;
	font-size: 1.0em;
}

footer {
	clear: both;
	margin-top: 20px;
	background: #bfbfbf;
	color: #fff;
	width: 900px;
	height: 50px;
	vertical-align: middle;
	line-height: 50px;
}




