    nav, header, article, aside, footer {
      background: green;
      text-align: center;
      margin: 7px;
      padding: 30px 30px;
      }
      
      nav {
      width: 50px;
      height: 500px;
      float: left;
      }
      
      #one {
      width: 650px;
      }

      article {
      height: 250px;
	}
      
      #one, nav {
      display: inline-block;
      }  
